body {
  background-color: pink;
}
h1 {
  color: red;
  font-size: 2em;
}
h2 {
  color: blue;
  font-size: 1.5em;
}
h3 {
  color: green;
  font-size: 1em;
}
ol {
  list-style-type: decimal;
}
li {
  margin-left: 20px;
}
