header {
  background-image: url('../img/bright-countryside-dawn-302804.jpg');
}
body {
  background-color: #e6ccb3;
}
h1, h2, h3, p, ul, ol, li, button {
  margin: 10px;
  padding: 10px;
}
h1 {
  color: #009933;
  font-weight: bold;
  font-size: 3em;
}
h2 {
  color: blue;
  font-size: 1.5em;
}
h3 {
  color: #94143C;
  font-size: 1em;
}
ol {
  list-style-type: decimal;
}
header h1 {
  background: linear-gradient(to right, rgba(250, 250, 250, 0.8), rgba(250, 250, 250, 0.2), transparent);
}
section, article {
  margin: 10px;
  padding: 10px;
  border: 2px solid #392613;
  border-radius: 10px;
}
section {
  background-image: url('../img/grass.jpg');
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  min-height: 960px;
}
button {
  margin: 0 auto;
  display: block;
}
article {
  background-color: rgba(250, 250, 250, .5);
}
